--- 
layout: default 
---
<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">A propos</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>{{ site.title }}</h3>
                <p>Informations sur le cabinet de Dermatologie et esthétique du Docteur Nabil IMADALI à Boumerdès.</p>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-user-md"><use xlink:href="#icon-user-md"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Soins variés: Dermatologie générale, Chirurgie dermatologique, Épilation au LASER de marque CYNOSURE, Cryothérapie et Mésopécie.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Cabinet de dermatologie et centre Laser de <a class="scroll" href="#loc">Boumérdès</a>. Horaires d'ouverture en semaine (Dimanche à Jeudi): 9-17h. Le Samedi: 9-16h.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Tarifs laser pour le visage: 4000 à 5000DA, jambes: 15000 da, cuisses: 17000 da, maillot: 7000 à 10000 da, aisselles: 5000 da.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/photo-nabil.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Tel:</strong> {{ site.contact.phone }}</li>{% endif %} 
            {% if site.contact.emergency %} <li><strong>Urgences:</strong> {{ site.contact.emergency }}</li>{% endif %} 
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Horaires d'ouverture</h3>
        <table>
            <tbody>
                <tr>
                    <td>Dimanche – Jeudi</td>
                    <td>{{ site.dimanche_jeudi }}</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td>{{ site.samedi }}</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>{{ site.vendredi }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Localisation</h3>
        <p>
            {{ site.contact.address }}
        </p>
    </div>
</div>
<!-- End 3 columns -->



<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Traitements</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                    <h4>{{ treatment.title }}</h4>
                    <p>{{ treatment.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->
<!-- Start Map -->
<div class="container-map">
    <h2 id = "loc" class="section-title">Localisation</h2>
    <div id="location" style="height:450px;width:100%;">
        <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(36.758273, 3.457447);
                var mapProp = {
                    center: myCenter,
                    zoom: 16,
                    scrollwheel: false,
                    draggable: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("location"), mapProp);
                var marker = new google.maps.Marker({
                    position: myCenter
                });
                marker.setMap(map);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnL8unPJDpxMNsVcG0CAp3E3KCaIM9bJ4&callback=myMap"></script>
    </div>
</div>
<!-- End Map -->

<!-- Start Gallery -->
<div id="gallery" class="gallery">

    <h2 class="section-title">Gallerie photo</h2>

    {% for images in site.data.gallery %}
    <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
        <div class="expandable-box-top">
            <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
        </div>
        <div class="expandable-box-bottom">
            <span><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></span>
        </div>
    </a>
    {% endfor %}

</div>
<!-- End Gallery -->
<!-- Start timeline -->
<div id="timeline" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Historique</h2>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
            </div>
            <div class="cd-timeline-content">
                <h2>Médecin Généraliste</h2>
                <p>Avec <b>Mention Très Bien</b>. Après 3 ans d'internat, principalement à l'hopital Mustapha Bacha (Alger).</p>
                <span class="cd-date">Juin 2004</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
            </div>
            <div class="cd-timeline-content">
                <h2>Médecin Spécialiste en Dermatologie</h2>
                <p>Classé parmi les 10% premiers du concours d'admission (27 sur environs 2500 personnes). Le Dr. N. Imadali se spécialise en dermatologie à l'hopital Mustapha Bacha (Alger). Le docteur participe aussi à divers séminaires et travaille à ses heures
                    pour remplacer des confrères, faisant ainsi son expérience sur le terrain au près des patients de Sétif, Alger et Médéa.</p>
                <span class="cd-date">Juin 2008</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="img/cd-icon-picture.svg" alt="Picture">
            </div>
            <div class="cd-timeline-content">
                <h2>Diplômes obtenus d'université Françaises </h2>
                <p> Diplôme interuniversitaire (DIU) <b>"Peau et médecine interne" de l'universite de Pierre et Marie Curie</b>, Paris 6. Attestation Laser et Peau de <b>l'université de Marseille</b>.</p>
                <span class="cd-date">Septembre 2010</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="img/cd-icon-location.svg" alt="Location">
            </div>
            <div class="cd-timeline-content">
                <h2>Ouverture du cabinet spécialisé en Dermatologie à Boumerdès</h2>
                <p>Le docteur accueille ses patients de 9h à 17h depuis près de 8 ans dans son cabinet de Boumerdès. Les patients lui reconnaissent son professionalisme, son écoute, son respect et sa rigueur dans son travail. Dés l'ouverture, les patients de
                    la ville de Boumerdès et de divers villes avoisinantes viennent le voir quotidiennement.</p>
                <span class="cd-date">Septembre 2009</span>
            </div>
        </div>
    </div>       
</div>
<!-- End timeline -->
